[Desktop Entry]
Categories=Audio;Music;Player;AudioVideo;
Comment[pl_PL]=
Comment=
Exec=spotify-tray
GenericName[pl_PL]=Odtwarzacz muzyki w tacce systemowej
GenericName=Music Player in System Tray
Icon=spotify-tray
MimeType=
Name[pl_PL]=Spotify
Name=Spotify
NoDisplay=false
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
