[Desktop Entry]
Categories=Audio;Music;Player;AudioVideo;
Name=Spotify
Name[pl_PL]=Spotify
GenericName=Music Player in system tray
GenericName[pl_PL]=Odtwarzacz muzyki w tacce systemowej
Icon=spotify-tray
Exec=spotify-tray %%U
Type=Application
MimeType=
NoDisplay=false
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
